body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  cursor: pointer;
}

.single-photo {
  width: 100%;
}

.AllPhotos {
  align-content: space-around;
  width: 200px;
  height: 200px;
}
